#s-1dca9830-e8d1-4dc4-b804-86f9df6d4f9c #s-base_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dca9830-e8d1-4dc4-b804-86f9df6d4f9c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dca9830-e8d1-4dc4-b804-86f9df6d4f9c #s-arrow-back_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dca9830-e8d1-4dc4-b804-86f9df6d4f9c #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dca9830-e8d1-4dc4-b804-86f9df6d4f9c #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dca9830-e8d1-4dc4-b804-86f9df6d4f9c #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dca9830-e8d1-4dc4-b804-86f9df6d4f9c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dca9830-e8d1-4dc4-b804-86f9df6d4f9c #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dca9830-e8d1-4dc4-b804-86f9df6d4f9c #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dca9830-e8d1-4dc4-b804-86f9df6d4f9c #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dca9830-e8d1-4dc4-b804-86f9df6d4f9c #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dca9830-e8d1-4dc4-b804-86f9df6d4f9c #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1dca9830-e8d1-4dc4-b804-86f9df6d4f9c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1dca9830-e8d1-4dc4-b804-86f9df6d4f9c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}