#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-base_8 {
  -ms-transform: rotate(0.0deg);
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Ellipse_23 {
  -ms-transform: rotate(0.0deg);
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Ellipse_24 {
  -ms-transform: rotate(0.0deg);
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-plus_2 {
  -ms-transform: rotate(0.0deg);
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Table_1 {
  border-collapse: separate;
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Table_2 {
  border-collapse: separate;
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}