#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-base_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-plus_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-29e9aabb-2242-42e7-9704-52246eb9532a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}