#s-5dcb6a67-1938-4b64-b145-51ecd54b6ec4 #s-base_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dcb6a67-1938-4b64-b145-51ecd54b6ec4 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dcb6a67-1938-4b64-b145-51ecd54b6ec4 #s-arrow-back_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dcb6a67-1938-4b64-b145-51ecd54b6ec4 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dcb6a67-1938-4b64-b145-51ecd54b6ec4 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dcb6a67-1938-4b64-b145-51ecd54b6ec4 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dcb6a67-1938-4b64-b145-51ecd54b6ec4 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dcb6a67-1938-4b64-b145-51ecd54b6ec4 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dcb6a67-1938-4b64-b145-51ecd54b6ec4 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dcb6a67-1938-4b64-b145-51ecd54b6ec4 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dcb6a67-1938-4b64-b145-51ecd54b6ec4 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dcb6a67-1938-4b64-b145-51ecd54b6ec4 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dcb6a67-1938-4b64-b145-51ecd54b6ec4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5dcb6a67-1938-4b64-b145-51ecd54b6ec4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}