#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-base_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-arrow-back_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}