#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-base_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-arrow-back_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Category_3-options {
  background-color: #FAFAFA;
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Line_5 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Line_5 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd #s-Table_1 {
  border-collapse: separate;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6363d8a9-3aa3-4656-9cba-e4151d8bd1dd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}