#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-base_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-Rectangle {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-Picture {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-Picture_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-Picture_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-Image_70 {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 #s-arrow-back_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6a2559fa-8131-43d1-b65c-5633c59b1889 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}