#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Group_2 {
  position: absolute;
  top: 527px;
  left: 29px;
  width: 319px;
  height: 36px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Rectangle_3 {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 319px;
  height: 35px;
  background-color: #F68B7D;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_78 > svg {
  width: 24px;
  height: 24px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_78 {
  position: absolute;
  top: 0px;
  left: 140px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Tabs-bar {
  position: absolute;
  top: 131px;
  left: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Panel_7 {
  width: 359px;
  height: 49px;
  background-color: #FAFAFA;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Panel_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Label_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 181px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Label_7 span {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Label_8 {
  position: absolute;
  top: 0px;
  left: 182px;
  width: 177px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Label_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Label_8 span {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Label_8 span#rtr-s-Label_8_0 {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Title-bar {
  position: absolute;
  top: 66px;
  left: 0px;
  width: 360px;
  height: 66px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-base_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 287px;
  height: 28px;
  background-color: #FAFAFA;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-base_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-base_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-base_8 span#rtr-s-base_8_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_6 {
  position: absolute;
  top: 20px;
  left: 47px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_6 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_44 > svg {
  width: 24px;
  height: 24px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_44 {
  position: absolute;
  top: 88px;
  left: 93px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_43 > svg {
  width: 24px;
  height: 24px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_43 {
  position: absolute;
  top: 89px;
  left: 21px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Select {
  position: absolute;
  top: 75px;
  left: 234px;
  width: 114px;
  height: 32px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Category_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 114px;
  height: 30px;
  background-color: #FAFAFA;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  vertical-align: middle;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Category_3 .valign {
  width: 96px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Line_1 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 114px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Line_2 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 114px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #shapewrapper-s-Line_2 {
  display: none;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Paragraph_1 {
  position: absolute;
  top: 527px;
  left: 35px;
  width: 10px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_1 {
  position: absolute;
  top: 181px;
  left: 11px;
  width: 338px;
  height: 247px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_2 {
  position: absolute;
  top: 171px;
  left: 220px;
  width: 155px;
  height: 148px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Group_1 {
  position: absolute;
  top: 437px;
  left: 29px;
  width: 319px;
  height: 35px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 319px;
  height: 35px;
  background-color: #F68B7D;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px -3px 8px 0px #CCCCCC;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_77 > svg {
  width: 24px;
  height: 24px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_77 {
  position: absolute;
  top: 2px;
  left: 140px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_42 > svg {
  width: 24px;
  height: 24px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_42 {
  position: absolute;
  top: 440px;
  left: 325px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_45 > svg {
  width: 24px;
  height: 24px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_45 {
  position: absolute;
  top: 533px;
  left: 325px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_46 > svg {
  width: 24px;
  height: 24px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_46 {
  position: absolute;
  top: 476px;
  left: 325px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Line_5 {
  position: absolute;
  top: 179px;
  left: 184px;
  width: 175px;
  height: 3px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Section-bar-color {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 76px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-base_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 287px;
  height: 38px;
  background-color: #FAFAFA;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-base_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-base_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-base_7 span#rtr-s-base_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_4 {
  position: absolute;
  top: 36px;
  left: 53px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_4 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_4 span#rtr-s-Text_4_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-arrow-back_3 > svg {
  width: 26px;
  height: 26px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-arrow-back_3 {
  position: absolute;
  top: 36px;
  left: 17px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Table_1 {
  position: absolute;
  top: 471px;
  left: 28px;
  width: 319px;
  height: 51px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_1 {
  padding-left: 12px;
  width: 84px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_4 {
  padding-left: 12px;
  width: 63px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_7 {
  padding-left: 12px;
  width: 44px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_7 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_10 {
  padding-left: 12px;
  width: 75px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_10 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_2 {
  padding-left: 12px;
  width: 84px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_5 {
  padding-left: 12px;
  width: 63px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_8 {
  padding-left: 12px;
  width: 44px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_8 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_11 {
  padding-left: 12px;
  width: 75px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_11 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}