#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-base_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Category_3-options {
  background-color: #FAFAFA;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Line_5 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Line_5 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-base_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-arrow-back_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Table_1 {
  border-collapse: separate;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}