#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-base_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-base_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 #s-arrow-back_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c5c0604c-261d-4d78-b755-bd479d6dedc2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}