#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-base_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-arrow-back_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-Image_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-Image_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c #s-Image_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cc8ef894-3751-40a6-817f-a94ffd93813c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}