#s-dd5e2ee7-d037-441c-b684-f55353e039b5 #s-base_7 {
  -ms-transform: rotate(0.0deg);
}
#s-dd5e2ee7-d037-441c-b684-f55353e039b5 #s-arrow-back_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dd5e2ee7-d037-441c-b684-f55353e039b5 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dd5e2ee7-d037-441c-b684-f55353e039b5 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dd5e2ee7-d037-441c-b684-f55353e039b5 #s-Table_1 {
  border-collapse: separate;
}
#s-dd5e2ee7-d037-441c-b684-f55353e039b5 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-dd5e2ee7-d037-441c-b684-f55353e039b5 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-dd5e2ee7-d037-441c-b684-f55353e039b5 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-dd5e2ee7-d037-441c-b684-f55353e039b5 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-dd5e2ee7-d037-441c-b684-f55353e039b5 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dd5e2ee7-d037-441c-b684-f55353e039b5 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-dd5e2ee7-d037-441c-b684-f55353e039b5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}