#s-e694569e-3a69-45c2-85c3-64e0d12eb2ae #s-Button_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #8AD9D2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #8AD9D2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #8AD9D2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #8AD9D2;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 115px;
  height: 140px;
  -ms-transform: rotate(0.0deg);
}
#s-e694569e-3a69-45c2-85c3-64e0d12eb2ae #s-Button_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #8AD9D2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #8AD9D2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #8AD9D2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #8AD9D2;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 115px;
  height: 139px;
  -ms-transform: rotate(0.0deg);
}
#s-e694569e-3a69-45c2-85c3-64e0d12eb2ae #s-base_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e694569e-3a69-45c2-85c3-64e0d12eb2ae #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e694569e-3a69-45c2-85c3-64e0d12eb2ae #s-arrow-back_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e694569e-3a69-45c2-85c3-64e0d12eb2ae > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}