#s-e694569e-3a69-45c2-85c3-64e0d12eb2ae #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e694569e-3a69-45c2-85c3-64e0d12eb2ae #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e694569e-3a69-45c2-85c3-64e0d12eb2ae #s-base_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e694569e-3a69-45c2-85c3-64e0d12eb2ae #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e694569e-3a69-45c2-85c3-64e0d12eb2ae #s-arrow-back_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e694569e-3a69-45c2-85c3-64e0d12eb2ae > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}